.sidebar {
  width: 260px;
  //height: 100%;
  background-color: #1b2d47;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu {
    //flex: 1;
  }

  .btn {
    width: 100%;
    padding: .75rem;
    color: #fff;
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgba(255,255,255,.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    .iconPlus {
      font-size: 1rem;
      color: #fff;
      margin-right: .75rem;
    }

    span {
      flex: 1;
      text-align: left;
    }
  }

  .noBorder {
    border: none;
  }

  .extra {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    //display: none;
    .extraItem {
      width: 100%;
      padding: .75rem;
      color: #fff;
      background: transparent;
      border: none;
      border-top: 1px solid rgba(255,255,255,.2);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      box-sizing: border-box;
    }
  }
}

.hidden {
  display: flex;
}

@media (max-width: 768px) {
  .hidden {
    //display: none;
  }
}