html {
  font-size: 14px;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: S\f6hne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#root {
  height: 100%;
}

.bg-transparent {
  background-color: transparent !important;
  --color-fg-default: #374151 !important;
}

.answer {
  //display: flex;
  //flex-direction: column;
  //white-space: normal;
  //word-break: break-word;
}

.markdown-body p {
  margin: 0;
  margin-bottom: 0 !important;
  font-family: S\f6hne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.output-cursor {
  display: inline-block;
  height: 20px;
  width: 5px;
  line-height: 30px;
  vertical-align: sub;
  background: #1b2d47;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

