html {
  font-size: 14px;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: S\f6hne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#root {
  height: 100%;
}

.bg-transparent {
  background-color: transparent !important;
  --color-fg-default: #374151 !important;
}

.answer {
  //display: flex;
  //flex-direction: column;
  //white-space: normal;
  //word-break: break-word;
}

.markdown-body p {
  margin: 0;
  margin-bottom: 0 !important;

  font-family: S\f6hne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

